.formforadding {
  display: flex;
  justify-content: flex;
  align-items: center;
  top: 50%;
  left :50%;
}
form{
  padding: 20px;
  /* width: 100%; */
}
input {
  width: 100%;
  outline: none;
}

button{
  background-color : #2B60DE;
  margin-top:10px;
  margin-left: 30%;
  color : #fff;
  width : 100px;
  border-radius :20px;
  border: none;
  outline: none;
  height: 30px;
}
ul{
  list-style: none;
}